<app-titulo [titulo]="tituloPagina"></app-titulo>

<div  class="form-inline">
  <div class="form-group mb-2">
    <label for="txtBuscar" class="mr-2">Filtro</label>
    <input id="txtBuscar" [(ngModel)]="filtro" type="text" class="form-control mr-2" placeholder="Buscar">
  </div>
</div>
<!-- <p>filtro: {{filtro}}</p> -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th><button type="button" class="btn btn-outline-light btn-sm" (click)="exibirImagem = !exibirImagem">
        <i class="{{exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        {{exibirImagem ? 'Ocultar Imagem' : 'Exibir Imagem'}}
      </button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>{{item.id}}</td>
      <td>
        <img [collapse]="!exibirImagem" [isAnimated]="true" src="/assets/{{item.imagemURL}}" [style.width.px]="widthImg" [style.margin.px]="marginImg">
        <!-- collapse ou *ngIf="mostrarImagem" -->
      </td>
      <td>{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento | DateTimeFormat}}</td>
      <td>{{item.quantidadePessoas}}</td>
      <td>{{item.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- MODAL WINDOW CONFIRM -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>



<!-- ver o retorno do get no formato json -> {{eventos | json}} -->
<!-- <div *ngFor="let item of eventos">
  <p><b>Tema: </b>{{item.tema}}</p>
  <p><b>Local: </b>{{item.local}}</p>
  <hr/>
</div> -->

<!-- diretivas estruturais
ex: *ngFor, *ngIf, *ngShow

binding e interpolação
{{eventos[0].tema}} -> interpolação
{{eventos[0].tema + 'teste'}} -> interpolação
-->
